USE [master]
GO
/****** Object:  Database [AutofacDB]    Script Date: 2018/8/30 23:01:05 ******/
CREATE DATABASE [AutofacDB] ON  PRIMARY 
( NAME = N'AutofacDB', FILENAME = N'D:\SQLServerDB\MSSQL12.MSSQLSERVER\MSSQL\DATA\AutofacDB.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'AutofacDB_log', FILENAME = N'D:\SQLServerDB\MSSQL12.MSSQLSERVER\MSSQL\DATA\AutofacDB_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AutofacDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AutofacDB]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 2018/8/30 23:01:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[gKey] [uniqueidentifier] NOT NULL,
	[sName] [nvarchar](100) NULL,
	[iAge] [int] NULL,
	[dAddTime] [datetime] NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[gKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Teacher]    Script Date: 2018/8/30 23:01:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teacher](
	[gKey] [uniqueidentifier] NOT NULL,
	[sName] [nvarchar](100) NULL,
	[iAge] [int] NULL,
	[dAddTime] [datetime] NULL,
 CONSTRAINT [PK_Teacher] PRIMARY KEY CLUSTERED 
(
	[gKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[Student] ([gKey], [sName], [iAge], [dAddTime]) VALUES (N'd80bf588-55d0-49af-9219-60383ae9f545', N'李青', 23, CAST(N'2018-03-23 12:01:23.000' AS DateTime))
GO
INSERT [dbo].[Student] ([gKey], [sName], [iAge], [dAddTime]) VALUES (N'7388df05-8435-47b6-aeae-a18dd7d82f95', N'李大海', 46, CAST(N'2017-12-19 00:00:00.000' AS DateTime))
GO
INSERT [dbo].[Student] ([gKey], [sName], [iAge], [dAddTime]) VALUES (N'8fdbd5e3-b8f1-413c-91ff-a1ce214a417f', N'王维', 12, CAST(N'2018-04-03 00:00:00.000' AS DateTime))
GO
INSERT [dbo].[Teacher] ([gKey], [sName], [iAge], [dAddTime]) VALUES (N'f5ef96d4-2a60-4cab-b2a1-408a84a921fa', N'韦向山 ', 19, CAST(N'2018-07-17 00:00:00.000' AS DateTime))
GO
INSERT [dbo].[Teacher] ([gKey], [sName], [iAge], [dAddTime]) VALUES (N'f9b54703-fd7b-4e3a-9f86-43ecac17a85e', N'郭彤', 12, CAST(N'2018-08-30 21:53:43.793' AS DateTime))
GO
INSERT [dbo].[Teacher] ([gKey], [sName], [iAge], [dAddTime]) VALUES (N'7b24112a-53ab-4026-b57f-725bdb8d851c', N'郭彤', 12, CAST(N'2018-08-30 22:12:50.273' AS DateTime))
GO
USE [master]
GO
